<% if @book.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <%= @book.errors.count %>件のエラー
        <li>"error "<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>